{% load static %}
<!-- Navbar STart -->
<header id="topnav" class="defaultscroll sticky">
    <div class="container">
        <!-- Logo container-->
        <a class="logo" href="{% url 'index' %}">
                    <span class="logo-light-mode">
                        <img src='{% static "assets/images/logo-dark.png" %}' class="l-dark" height="24" alt="">
                        <img src='{% static "assets/images/logo-light.png" %}' class="l-light" height="24" alt="">
                    </span>
            <img src='{% static "assets/images/logo-light.png" %}' height="24" class="logo-dark-mode" alt="">
        </a>

        <!-- End Logo container-->
        <div class="menu-extras">
            <div class="menu-item">
                <!-- Mobile menu toggle-->
                <a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <!-- End mobile menu toggle-->
            </div>
        </div>

        {% if not user.is_authenticated %}
        <!--Login button Start-->
        <ul class="buy-button list-inline mb-0">
            <li class="list-inline-item mb-0">
                <a href="javascript:void(0)" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                   aria-controls="offcanvasRight">
                    <div class="login-btn-primary"><span class="btn btn-icon btn-pills btn-soft-primary"><i
                            data-feather="settings" class="fea icon-sm"></i></span></div>
                    <div class="login-btn-light"><span class="btn btn-icon btn-pills btn-light"><i
                            data-feather="settings" class="fea icon-sm"></i></span></div>
                </a>
            </li>

            <li class="list-inline-item ps-1 mb-0">
                <a href='{% url "login" %}' target="_blank">
                    <div class="btn btn-icon btn-pills btn-primary"><i data-feather="user" class="fea icon-sm"></i>
                    </div>
                </a>
            </li>
        </ul>
        <!--Login button End-->
        {% endif %}

        <div id="navigation">
            <!-- Navigation Menu-->
            <ul class="navigation-menu nav-light nav-right">
                <li><a href='{% url "index" %}' class="sub-menu-item">Trang Chủ</a></li>
                <li><a href="{% url 'about' %}" class="sub-menu-item"> Về Crypto</a></li>
                <li><a href="{% url 'market' %}" class="sub-menu-item">Thị Trường</a></li>
                <li><a href="{% url 'services' %}" class="sub-menu-item">Hướng Dẫn Giao Dịch</a></li>
                <li><a href="{% url 'token' %}" class="sub-menu-item"> Token</a></li>
                <li class="has-submenu parent-parent-menu-item">
                    <a href="javascript:void(0)">Hỗ Trợ</a><span class="menu-arrow"></span>
                    <ul class="submenu">
                        <li><a href="{% url 'services' %}" class="sub-menu-item"> Cộng đồng Crypto</a></li>
                        <li><a href="{% url 'faqs' %}" class="sub-menu-item">Cách trade coin trên Binance </a></li>
                        <li><a href="{% url 'whitepapers' %}" class="sub-menu-item">Bảo Mật Ví Crypto </a></li>
                        <li><a href="{% url 'blog' %}" class="sub-menu-item">Blog</a></li>
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'ask' %}" class="sub-menu-item">Hỏi đáp</a></li>
                        {% endif %}
                    </ul>
                </li>
                {% if user.is_authenticated %}
                <li>
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-dark" style="margin-top:15px;">Đăng xuất</button>
                    </form>
                </li>
                {% endif %}

            </ul><!--end navigation menu-->
        </div><!--end navigation-->
    </div><!--end container-->
</header><!--end header-->
<!-- Navbar End -->
