{% load static %}

<!-- Footer Start -->
<footer class="footer">
    <div class="py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="section-title">
                        <div class="d-flex">
                            <i class="uil uil-envelope-star display-4 text-white title-dark"></i>
                            <div class="flex-1 ms-md-4 ms-3">
                                <h4 class="fw-bold text-white mb-1">Cần Thêm Hỗ Trợ?</h4>
                                <p class="text-white-50 mb-0">Bạn có thể đọc thêm thông tin hoặc đặt câu hỏi tại cộng đồng Crypto.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mt-4 mt-sm-0">
                    <div class="text-md-end ms-5 ms-sm-0">
                        <a href="{% url 'ask' %}" class="btn btn-primary">Tham gia ngay</a>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </div><!--end div-->

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer-py-60 footer-border">
                    <div class="row">
                        <div class="col-lg-4 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
                            <a href="#" class="logo-footer">
                                <img src='{% static "assets/images/logo-coin100.png"%}' height="24" alt="">
                            </a>
                            <p class="mt-4">Thông tin mang tính chất tham khảo & không được xem là lời khuyên đầu tư, Coin100 không chịu trách nhiệm với bất kỳ quyết định đầu tư nào của các bạn.</p>
                        
                        </div><!--end col-->

                        <div class="col-lg-2 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                            <h5 class="footer-head">Hỗ trợ</h5>
                            <ul class="list-unstyled footer-list mt-4">
                                <li><a href="{% url 'market' %}" class="text-foot"><i
                                        class="uil uil-angle-right-b me-1"></i> Xem giá coin</a></li>
                                <li><a href="{% url 'services' %}" class="text-foot"><i
                                        class="uil uil-angle-right-b me-1"></i> Đăng ký Binance</a></li>
                                <li><a href="javascript:void(0)" class="text-foot"><i
                                        class="uil uil-angle-right-b me-1"></i> Cách kiếm tiền trong Crypto</a></li>
                                <li><a href="javascript:void(0)" class="text-foot"><i
                                        class="uil uil-angle-right-b me-1"></i> Lưu trữ và bảo mật<a></li>
                                
                            </ul>
                        </div><!--end col-->

                        <div class="col-lg-2 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                            <h5 class="footer-head">Hướng Dẫn</h5>
                            <ul class="list-unstyled footer-list mt-4">
                                <li><a href="javascript:void(0)" class="text-foot"><i
                                        class="uil uil-angle-right-b me-1"></i> Theo dõi thị trường</a></li>
                                <li><a href="javascript:void(0)" class="text-foot"><i
                                        class="uil uil-angle-right-b me-1"></i> Chọn sàn giao dịch</a></li>
                                <li><a href="javascript:void(0)" class="text-foot"><i
                                        class="uil uil-angle-right-b me-1"></i> Tạo ví tiền điện tử</a></li>
                                <li><a href="javascript:void(0)" class="text-foot"><i
                                        class="uil uil-angle-right-b me-1"></i> Mua Bitcoin bằng VNĐ</a></li>
                            </ul>
                        </div><!--end col-->

                        <div class="col-lg-4 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                            <h5 class="text-light footer-head">Nhóm hỗ trợ</h5>

                            <ul class="list-unstyled footer-list mt-4 mb-2">
                                <li class="list-inline-item mx-1"><a href="{% url 'ask' %}" class="btn btn-soft-primary">Cộng đồng Crypto</a>
                                </li>
                                <li class="list-inline-item mx-1"><a href="#" class="btn btn-primary">Nhóm Zalo hỗ trợ</a></li>
                            </ul>
                            <small class="d-block">Liên hệ hợp tác: 
                                <a href="#" class="text-foot fw-medium">coin100.vn@gmail.com <i class="uil uil-arrow-right"></i></a></small>
                        </div><!--end col-->
                    </div><!--end row-->
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->

    <div class="footer-py-30 footer-bar">
        <div class="container text-center">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <div class="text-sm-start">
                        <p class="mb-0">©
                            <script>document.write(new Date().getFullYear())</script>
                            Coin100.
                        </p>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </div>
</footer><!--end footer-->
<!-- Footer End -->
