{% include  'partials/main.html' %}
{% load static %}
{% load humanize %}

<head>
     {% include 'partials/title-meta.html' with page_title="Vốn hoá Crypto, giá Bitcoin, Top 10 đồng coin" %}

    <!-- Css -->
    {% include 'partials/head-css-dark.html' %}

</head>

{% include 'partials/body.html' %}


{% include 'partials/navbar/nav-crypto.html' %}

<!-- Hero Start -->
<section class="bg-half-170 bg-light d-table w-100"
         style="background: url({% static 'assets/images/shape02.png'%}) top left;">
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-12">
                <div class="title-heading text-center">
                    <span class="text-muted">Vốn hóa thị trường tiền điện tử toàn cầu là 1.69 nghìn tỷ đô</span>
                    <h4 class="mt-2 mb-4">Bitcoin hiện đang chiếm <span class="text-success">50.97%</span></h4>
                    <p class="text-muted para-desc mx-auto mb-0">Bên dưới là TOP 100 <span class="text-primary fw-bold">các loại Tiền Điện Tử</span>
                        theo vốn hoá thị trường.</p>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- Hero End -->

<!-- Start -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title mb-4">
                    <h4>Tiền mã hóa tăng và giảm hàng đầu hôm nay</h4>
                </div>
            </div><!--end col-->
        </div><!--end row-->


        <div class="row">
            {% for item in list_change%}
            <div class="col-lg-3 col-md-6">
                <div class="card border-0 p-4 rounded shadow position-relative">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <img src='https://s2.coinmarketcap.com/static/img/coins/64x64/{{item.id}}.png'
                             class="avatar avatar-coin rounded-pill p-1 bg-success" alt="">
                        <span class="text-muted">{{item.symbol}}</span>
                    </div>

                    <h6>{{item.name}}</h6>

                    <div class="d-flex justify-content-between align-items-center mt-2">
                        <small class="text-success">{{item.percent_change_24h|floatformat:2|intcomma}}%</small>
<!--                        <small class="text-success">+$ 155</small>-->
                        <small>$ {{item.price|floatformat:2|intcomma}}</small>
                    </div>

                    <div class="crypto-chart">
                        <div>
                            <div id="chart-1"></div>
                        </div>
                    </div>
                </div>
            </div><!--end slide-->
            {% endfor %}
        </div><!--end row-->


        <div class="row justify-content-center">
            <div class="col-12 mt-4 pt-2">
                <div class="table-responsive bg-white shadow rounded">
                    <table class="table mb-0 table-center">
                        <thead>
                        <tr>
                            <th scope="col" class="fw-normal border-bottom text-muted py-4 px-3"
                                style="min-width: 250px;">Tên
                            </th>
                            <th scope="col" class="fw-normal border-bottom text-muted py-4 px-3" style="width: 150px;">
                                Giá
                            </th>
                            <th scope="col" class="fw-normal border-bottom text-muted py-4 px-3" style="width: 150px;">
                                Khối lượng giao dịch 24h(%)
                            </th>
                            <th scope="col" class="fw-normal border-bottom text-muted py-4 px-3" style="width: 150px;">
                                % thay đổi 24h(%)
                            </th>
                            <th scope="col" class="fw-normal border-bottom text-muted py-4 px-3" style="width: 150px;">
                                Vốn hoá
                            </th>
                            <th scope="col" class="fw-normal border-bottom text-muted py-4 px-3 text-end"
                                style="width: 100px;">Giao dịch
                            </th>
                        </tr>
                        </thead>

                        <tbody>
                        {%for item in page %}
                        <tr>
                            <th class="p-3">
                                <div class="align-items-center">
                                    <img src="https://s2.coinmarketcap.com/static/img/coins/64x64/{{item.id}}.png"
                                         alt="Crypto Symbol" class="me-3" height="32">
                                    <p class="mb-0 d-inline fw-normal h6">{{item.name}} <span class="text-muted">{{item.symbol}}</span>
                                    </p>
                                </div>
                            </th>
                            <td class="p-3">${{item.price|floatformat:2|intcomma}}</td>
                            <td class="text-danger p-3">{{item.volume_change_24h}}%</td>
                            <td class="text-danger p-3">{{item.percent_change_24h}}$</td>
                            <td class="text-muted p-3">${{item.market_cap|floatformat:2|intcomma}}</td>
                            <td class="p-3 text-end"><a href="https://accounts.binance.com/vi/register?ref=B61KRIA2"
                                                        class="btn btn-sm btn-primary" target="_blank">Mua</a></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table><!--end table-->
                </div>
            </div><!--end col-->

            <!-- PAGINATION START -->
            <div class="col-12 mt-4 pt-2">
                <div class="d-md-flex align-items-center text-center justify-content-between">
                    <span class="text-muted me-3">Showing 1 - 15 out of 452</span>
                    <ul class="pagination justify-content-center mb-0 mt-3 mt-sm-0">
                        {% if page.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ page.previous_page_number }}"
                                                 aria-label="Previous">Prev</a></li>
                        {% endif %}

                        {% for i in page.paginator.page_range %}
                        <li class="page-item{% if page.number == i %} active{% endif %}"><a class="page-link"
                                                                                            href="?page={{ i }}">{{i}}</a></li>
                        {% endfor %}

                        {% if page.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page.next_page_number }}"
                                                 aria-label="Next">Next</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div><!--end col-->
            <!-- PAGINATION END -->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- End -->

<!-- Footer Start -->
{% include  'partials/footer/footer-three.html' %}
<!-- Footer End -->

{% include  'partials/offcanvas-right.html' %}
{% include  'partials/switcherbar.html' %}

<!-- Back to top -->
<a href="#" onclick="topFunction()" id="back-to-top" class="back-to-top fs-5"><i data-feather="arrow-up"
                                                                                 class="fea icon-sm icons align-middle"></i></a>
<!-- Back to top -->


<!-- javascript -->
{% include  'partials/vendor-scripts.html' %}
<!-- Charts -->
<script src='{% static "assets/libs/apexcharts/apexcharts.min.js" %}'></script>
<!-- Main Js -->
<script src='{% static "assets/libs/feather-icons/feather.min.js" %}'></script>
<script src='{% static "assets/js/plugins.init.js" %}'></script><!--Note: All init js like tiny slider, counter, countdown, maintenance, lightbox, gallery, swiper slider, aos animation etc.-->
<script src='{% static "assets/js/app.js" %}'></script><!--Note: All important javascript like page loader, menu, sticky menu, menu-toggler, one page menu etc. -->
</body>

</html>
