{% include  'partials/main.html' %}
{% load static %}


<head>
    {% include 'partials/title-meta.html' with page_title="Cộng đồng Hỏi - Đáp về Crypto" %}

    <!-- Css -->
    {% include 'partials/head-css-dark.html' %}

</head>

{% include 'partials/body.html' %}


{% include 'partials/navbar/nav-crypto.html' %}

<!-- Hero Start -->
<section class="bg-half-170 d-table w-100 bg-light">
    <div class="container">
        <h1 class="text-center" style="font-size:30px">Chào mừng bạn đến với cộng đồng Hỏi - Đáp về Crypto </h1>
        <h2 class="text-center" style="font-size:20px">Nơi trao đổi tin tức, thông tin, hỏi đáp giữa các thành
            viên mới tham gia và những Admin
            nhiều kinh nghiệm từ Coin100</h2>
        <div class="row">
            <div class="text-center subcribe-form mt-4 pt-2">
                <form>
                    <div class="form-icon position-relative">
                        <i data-feather="search" class="fea icon-sm icons mt-1"></i>
                        <input type="text" id="text" name="text" class="rounded-pill bg-white-50 form-control ps-5"
                               placeholder="Tìm thông tin hỏi đáp">
                    </div>
                    <button type="submit" class="btn btn-pills btn-primary">Tìm kiếm</button>
                </form><!--end form-->
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                    <div class="card border-0 features feature-primary feature-clean course-feature p-4 overflow-hidden shadow text-center">
                        <div class="icons text-center mx-auto">
                            <i class="uil uil-file-contract-dollar rounded h3 mb-0"></i>
                        </div>
                        <div class="card-body p-0 mt-4">
                            <a href="javascript:void(0)" class="title h5 text-dark">Admin 1</a>
                            <p class="text-muted mt-2">Số câu trả lời</p>
                            <span class="star" id="star1">&#9733;</span>
                            <span class="star" id="star2">&#9733;</span>
                            <span class="star" id="star3">&#9733;</span>
                            <span class="star" id="star4">&#9733;</span>
                            <span class="star" id="star5">&#9733;</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                    <div class="card border-0 features feature-primary feature-clean course-feature p-4 overflow-hidden shadow text-center">
                        <div class="icons text-center mx-auto">
                            <i class="uil uil-file-contract-dollar rounded h3 mb-0"></i>
                        </div>
                        <div class="card-body p-0 mt-4">
                            <a href="javascript:void(0)" class="title h5 text-dark">Admin 2</a>
                            <p class="text-muted mt-2">Số câu trả lời</p>
                            <span class="star" id="star1">&#9733;</span>
                            <span class="star" id="star2">&#9733;</span>
                            <span class="star" id="star3">&#9733;</span>
                            <span class="star" id="star4">&#9733;</span>
                            <span class="star" id="star5">&#9733;</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                    <div class="card border-0 features feature-primary feature-clean course-feature p-4 overflow-hidden shadow text-center">
                        <div class="icons text-center mx-auto">
                            <i class="uil uil-file-contract-dollar rounded h3 mb-0"></i>
                        </div>
                        <div class="card-body p-0 mt-4">
                            <a href="javascript:void(0)" class="title h5 text-dark">Admin 3</a>
                            <p class="text-muted mt-2">Số câu trả lời</p>
                            <span class="star" id="star1">&#9733;</span>
                            <span class="star" id="star2">&#9733;</span>
                            <span class="star" id="star3">&#9733;</span>
                            <span class="star" id="star4">&#9733;</span>
                            <span class="star" id="star5">&#9733;</span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 mt-4">
                    <div class="row justify-content-center">
                        <!--                        {% for category in list_asks_category %}-->
                        <!--                        <div class="col-md-6 mt-4 pt-2">-->
                        <!--                            <div class="feature feature-primary position-relative ps-4 py-4 pe-5 shadow rounded overflow-hidden">-->
                        <!--                                <div class="me-md-12">-->
                        <!--                                    <a href="{% url 'ask_category' category.slug%}" class="title h5 text-dark">{{category.name}}</a>-->
                        <!--                                </div>-->
                        <!--                            </div>-->
                        <!--                        </div>&lt;!&ndash;end col&ndash;&gt;-->
                        <!--                        {% endfor %}-->
                        <section class="home-slider position-relative">
                            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    {% for category in list_asks_category %}
                                    <div class="carousel-item active" data-bs-interval="3000">
                                        <div class="d-flex align-items-center">
                                            <div class="bg-overlay"></div>
                                            <div class="container">
                                                <div class="row mt-5 justify-content-center">
                                                    <div class="col-12 text-center text-white">
                                                        <h5 class="display-4 text-white title-dark mb-3">{{category.name}}</h5>
                                                    </div><!--end col-->
                                                </div><!--end row-->
                                            </div>
                                        </div><!--end slide-->
                                    </div>
                                    {% endfor %}

                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleInterval" role="button"
                                   data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleInterval" role="button"
                                   data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </a>
                            </div>
                        </section>

                    </div>
                </div>
                <div class="col-md-12">
                    <div class="mt-4 pt-2">
                        <div class="feature feature-primary position-relative ps-4 py-4 pe-5 shadow rounded overflow-hidden">
                            <div class="me-md-12">
                                <a href="javascript:void(0)" class="title h5 text-dark text-uppercase">Hỏi đáp mới
                                    nhất</a>
                                <ul class="list-unstyled">
                                    {% for ask in list_ask %}
                                    <li>
                                        <a href="{% url 'ask_detail' ask.slug%}">
                                            <div class="card-body">
                                                {{ask.ask|safe}}
                                            </div>
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div><!--end col-->
                </div>
            </div>

            <!--            <div class="col-md-2">-->
            <!--                <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#questionModal">Đặt câu hỏi-->
            <!--                </button>-->
            <!--            </div>-->
            <!-- Modal -->
            <!--            <div class="col-md-7">-->
            <!--                <input type="text" class="form-control" placeholder="Tìm câu hỏi ở đây...">-->
            <!--            </div>-->
            <!--            <div class="col-md-3">-->
            <!--                <button type="submit" class="btn form-control text-center">Tìm kiếm</button>-->
            <!--            </div>-->
        </div>
        <!--        <div class="row" style="margin-top:20px;">-->
        <!--            <ul class="list-unstyled">-->
        <!--                {% for ask in list_ask %}-->
        <!--                <li>-->
        <!--                    <a href="{% url 'ask_detail' ask.slug%}">-->
        <!--                        <div class="card mb-3">-->
        <!--                            <div class="card-body">-->
        <!--                                <strong>HỎI:</strong> {{ask.ask|safe}}-->
        <!--                            </div>-->
        <!--                            {% if ask.answer %}-->
        <!--                            <div class="card-body">-->
        <!--                                <strong>ĐÁP:</strong> {{ask.answer|safe}}-->
        <!--                            </div>-->
        <!--                            {% endif %}-->
        <!--                        </div>-->
        <!--                    </a>-->
        <!--                </li>-->
        <!--                {% endfor %}-->
        <!--            </ul>-->
        <!--        </div>-->
    </div>
    <!--    <div class="modal fade" id="questionModal" tabindex="-1" role="dialog" aria-labelledby="questionModalLabel"-->
    <!--         aria-hidden="true">-->
    <!--        <div class="modal-dialog" role="document">-->
    <!--            <div class="modal-content">-->
    <!--                <div class="modal-header">-->
    <!--                    <h5 class="modal-title" id="questionModalLabel">Đặt câu hỏi</h5>-->
    <!--                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
    <!--                        <span aria-hidden="true">&times;</span>-->
    <!--                    </button>-->
    <!--                </div>-->
    <!--                <form method="post" action="{% url 'add_ask' %}">-->
    <!--                    {% csrf_token %}-->
    <!--                    <div class="modal-body">-->
    <!--                        <div class="form-group">-->
    <!--                            <label for="question-input">Câu hỏi của bạn</label>-->
    <!--                            <input name="ask" type="text" class="form-control" id="question-input"-->
    <!--                                   placeholder="Nhập câu hỏi...">-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                    <div class="modal-footer">-->
    <!--                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>-->
    <!--                        <button type="submit" class="btn btn-primary">Gửi câu hỏi</button>-->
    <!--                    </div>-->
    <!--                </form>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
</section><!--end section-->
<!-- End -->

<!-- Footer Start -->
{% include  'partials/footer/footer-three.html' %}
<!-- Footer End -->

{% include  'partials/offcanvas-right.html' %}
{% include  'partials/switcherbar.html' %}

<!-- Back to top -->
<a href="#" onclick="topFunction()" id="back-to-top" class="back-to-top fs-5"><i data-feather="arrow-up"
                                                                                 class="fea icon-sm icons align-middle"></i></a>
<!-- Back to top -->

<!-- javascript -->
{% include  'partials/vendor-scripts.html' %}
<!-- Main Js -->
<script src='{% static "assets/libs/feather-icons/feather.min.js" %}'></script>
<script src='{% static "assets/js/plugins.init.js" %}'></script><!--Note: All init js like tiny slider, counter, countdown, maintenance, lightbox, gallery, swiper slider, aos animation etc.-->
<script src='{% static "assets/js/app.js" %}'></script><!--Note: All important javascript like page loader, menu, sticky menu, menu-toggler, one page menu etc. -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>

</html>
