{% include  'partials/main.html' %}
{% load static %}
{% load humanize %}

<head>
    {% include 'partials/title-meta.html' with page_title=ask.ask %}

    <!-- Css -->
    {% include 'partials/head-css-dark.html' %}

</head>

{% include 'partials/body.html' %}


{% include 'partials/navbar/nav-crypto.html' %}

<!-- Hero Start -->
<section class="bg-half-170 d-table w-100 bg-light">
    <div class="container">
        <div class="card mb-3">
            <div class="card-body">
                <strong>Hỏi:</strong> {{ask.ask|safe}}
            </div>
            <div class="card-body">
                {{ask.content|safe}}
            </div>
        </div>
        <div class="table-responsive features-absolute shadow-md rounded-md" style="margin-top:50px">
            <table class="table mb-0 table-center">
                <thead>
                <tr>
                    <th scope="col" class="fw-normal border-bottom text-muted py-4 px-3"
                        style="width: 150px;">Tên
                    </th>
                    <th scope="col" class="fw-normal border-bottom text-muted py-4 px-3"
                        style="width: 150px;">
                        Xếp hạng
                    </th>
                    <th scope="col" class="fw-normal border-bottom text-muted py-4 px-3"
                        style="width: 150px;">
                        Volume
                    </th>
                    <th scope="col" class="fw-normal border-bottom text-muted py-4 px-3"
                        style="width: 150px;">
                        Điểm uy tín
                    </th>
                </tr>
                </thead>

                <tbody>
                {%for item in list_format_exchanges %}
                <tr>
                    <th class="p-3">
                        <div class="align-items-center">
                            <img src="{{item.thumb}}"
                                 alt="Crypto Symbol" class="me-3" height="32">
                            <p class="mb-0 d-inline fw-normal h6">{{item.name}} <span
                                    class="text-muted">{{item.symbol}}</span>
                            </p>
                            {% if item.name == 'Binance'%}
                            <a
                            href="https://accounts.binance.com/vi/register?ref=B61KRIA2"
                            class="btn btn-sm btn-primary" target="_blank">Đăng ký</a>
                            {%endif%}
                        </div>
                    </th>
                    <td class="p-3">{{item.trust_score_rank}}</td>
                    <td class="p-3">${{item.trade_volume_24h_btc|floatformat:2|intcomma}}</td>
                    <td class="p-3">{{item.trust_score}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table><!--end table-->
        </div>
    </div><!--end container-->
</section><!--end section-->
<!-- End -->

<!-- Footer Start -->
{% include  'partials/footer/footer-three.html' %}
<!-- Footer End -->

{% include  'partials/offcanvas-right.html' %}
{% include  'partials/switcherbar.html' %}

<!-- Back to top -->
<a href="#" onclick="topFunction()" id="back-to-top" class="back-to-top fs-5"><i data-feather="arrow-up"
                                                                                 class="fea icon-sm icons align-middle"></i></a>
<!-- Back to top -->

<!-- javascript -->
{% include  'partials/vendor-scripts.html' %}
<!-- Main Js -->
<script src='{% static "assets/libs/feather-icons/feather.min.js" %}'></script>
<script src='{% static "assets/js/plugins.init.js" %}'></script><!--Note: All init js like tiny slider, counter, countdown, maintenance, lightbox, gallery, swiper slider, aos animation etc.-->
<script src='{% static "assets/js/app.js" %}'></script><!--Note: All important javascript like page loader, menu, sticky menu, menu-toggler, one page menu etc. -->

</body>

</html>