{% include 'partials/main.html' %}
{% load static %}
<head>
    {% include 'partials/title-meta.html' with page_title='Thông báo miễn trừ trách nhiệm' page_keywords="coin100, cach mua bitcoin, dau tu crypto" %}

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700&display=swap" rel="stylesheet">
</head>

{% include 'partials/body.html' %}
<!-- Hero Start -->
<div style="margin-top: 50px;">
    <table cellpadding="0" cellspacing="0"
           style="font-family: Nunito, sans-serif; font-size: 15px; font-weight: 400; max-width: 600px; border: none; margin: 0 auto; border-radius: 6px; overflow: hidden; background-color: #fff; box-shadow: 0 0 3px rgba(60, 72, 88, 0.15);">
        <thead>
        <tr style="background-color: #2f55d4; padding: 3px 0; border: none; line-height: 68px; text-align: center; color: #fff; font-size: 24px; letter-spacing: 1px;">
            <th scope="col"><img src='{% static "assets/images/logo-coin100.png" %}' height="24" alt=""></th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td style="padding: 48px 24px 0; color: #161c2d; font-size: 18px; font-weight: 600;">
                Tuyên bố từ chối trách nhiệm
            </td>
        </tr>
        <tr>
            <td style="padding: 15px 24px 15px; color: #8492a6;">
                Tất cả thông tin có trên website Coin100.vn không nhằm mục đích và sẽ không được hiểu là lời khuyên
                đầu tư, tài chính hoặc tư vấn khác
            </td>
        </tr>


        <tr>
            <td style="padding: 15px 24px 0; color: #8492a6;">
                Không có nội dung nào cấu thành sự chào mời, khuyến nghị, chứng thực hoặc đề nghị của Coin100 hoặc bất kỳ nhà cung cấp dịch vụ bên thứ ba nào để mua hoặc bán bất kỳ tài sản tiền điện tử nào khác
            </td>
        </tr>

        <tr>
            <td style="padding: 15px 24px 15px; color: #8492a6;">
                Coin100 khuyên bạn chỉ nên đầu tư những gì bạn có thể đủ khả năng để mất và luôn tìm kiếm lời khuyên tài chính độc lập nếu bạn có nghi ngờ.
            </td>
        </tr>

        <tr>
            <td style="padding: 15px 24px 15px; color: #8492a6;">
                Bạn không nên mua bất kỳ tài sản tiền điện tử nào nếu bạn không hiểu đầy đủ về bản chất việc mua hàng của mình và những rủi ro liên quan.
            </td>
        </tr>

        <tr>
            <td style="padding: 16px 8px; color: #8492a6; background-color: #f8f9fc; text-align: center;">
                ©
                <script>document.write(new Date().getFullYear())</script>
                Coin100.
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!-- Hero End -->
</body>
</html>
